header .container-fluid {
    width: 100%;
    /* height: 100vh; */
}

.row1 {
    display: flex;
    padding: 10px 2%;
}

.colum1 {
    width: 70%;
}

.colum1 h1 {
    font-family: 'Montez', cursive;
    color: blue;
    margin: 0;
}

.colum1 h6 {
    font-family: 'Ubuntu Mono', monospace;
}

.colum2 {
    width: 30%;
}

header #buttondiv button {
    width: fit-content;
    /* display: inline; */
    background-color: blue;
    padding: 3px 9px;
    border: 1px gray solid;
    color: white;
    text-transform: capitalize;
    box-shadow: 1px 2px 3px #948282a3;
    margin-left: 12px;
    float: right
}

header #buttondiv button:focus {
    background-color: rgba(0, 0, 255, 0.594);
}

/* header part is finish */

/* TODO media quereis for header part  */

@media screen and (max-width:600px) {
    header .row1 {
        flex-direction: column;
    }

    header .colum1,
    header .colum2 {
        width: 100%;
    }
}